<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @season.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @season.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @season.city %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
