<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @position.short_name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @position.photo %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
