<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tech_role.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @tech_role.short_name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @tech_role.photo %>
</p>

<%= link_to 'Edit', edit_tech_role_path(@tech_role) %> |
<%= link_to 'Back', tech_roles_path %>
