<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Round:</strong>
  <%= @game.round %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team %>
</p>

<p>
  <strong>Visitor team:</strong>
  <%= @game.away_team %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @game.stadium %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
