<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @technical_staff.person %>
</p>

<p>
  <strong>Team:</strong>
  <%= @technical_staff.team %>
</p>

<p>
  <strong>Team:</strong>
  <%= @technical_staff.team %>
</p>

<p>
  <strong>Tech role:</strong>
  <%= @technical_staff.tech_role %>
</p>

<%= link_to 'Edit', edit_technical_staff_path(@technical_staff) %> |
<%= link_to 'Back', technical_staffs_path %>
