<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= fields_for :person, @player.person do |person_fields| %>
  
  <%= render partial: "people/fields", :locals => { :@person => @player.person, :f => person_fields }%>
  
  <% end %>

  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :shirt_number %><br>
    <%= f.number_field :shirt_number %>
  </div>
  <div class="field">
    <%= f.label :debut_date %><br>
    <%= f.date_select :debut_date %>
  </div>
  
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.text_field :position_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
