<div class="well bs-component">
  <%= form_for(@player, :class => "form-horizontal", :role=>"form") do |f| %>
      <fieldset>
    <% if @player.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
  
        <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= fields_for :person, @player.person do |person_fields| %>
      <%= render partial: "people/fields", :locals => { :@person => @player.person, :f => person_fields }%>
    <% end %>
    
    <%= render partial: "fields", :locals => { :@player => @player, :f => f }%>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit class: "btn btn-md btn-primary" %>
      </div>
    </div>
    
    </fieldset>
  <% end %>
  
</div>
