<p id="notice"><%= notice %></p>

<p>
  <strong>Lineup:</strong>
  <%= @line_up_sub.lineup %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @line_up_sub.player_1 %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @line_up_sub.player_2 %>
</p>

<p>
  <strong>Player 3:</strong>
  <%= @line_up_sub.player_3 %>
</p>

<p>
  <strong>Player 4:</strong>
  <%= @line_up_sub.player_4 %>
</p>

<p>
  <strong>Player 5:</strong>
  <%= @line_up_sub.player_5 %>
</p>

<p>
  <strong>Player 6:</strong>
  <%= @line_up_sub.player_6 %>
</p>

<p>
  <strong>Player 7:</strong>
  <%= @line_up_sub.player_7 %>
</p>

<%= link_to 'Edit', edit_line_up_sub_path(@line_up_sub) %> |
<%= link_to 'Back', line_up_subs_path %>
